.fondoBody{
	background-image:url(../images/todo.png);
}
.SegundoF{
	background-image:url(../images/todo.png);
}



.Letras{
	color: #66FF33;
 	font: 150% sans-serif; 
}

.fin{
	color: #66FF33;
}

.fin label{
	/*position: relative;
	left: 46%;	
	transform: translateX(-50%);*/
	
}



.Letras1{
	color: #66FF33;
 	font: 120% Cooper; 
}




/* unvisited link */
a:link {
    color: #66FF33;
}
/* visited link */
a:visited {
    color: #66FF33;
}
/* mouse over link */
a:hover {
    color: #66FF33;
}

/* selected link */
a:active {
    color: #66FF33;
}
a:link {
    text-decoration: none;
}
.menu li {
	list-style: none;
	float: left; 
	margin: -5px 3px; 
	/*position: relative;
	left: 50%;
	transform: translateX(-50%);*/
}

.tabla {
	whidth: 1050;
}