.fondoBody{
	background-image:url(../images/todo.png);
	width:90%;
	height:40%;
	color: #66FF33;
 	
}
.SegundoF{
	background-image:url(../images/todo.png);
}



.Letras{
	color: #66FF33;
 	font: 150% sans-serif; 
}

.fin{
	color: #66FF33;
}

.fin label{
	 
	/*position: relative;
	left: 46%;	
	transform: translateX(-50%);*/
	
}

.Letras1{
	/*font: 120% Cooper;*/ 

}




/* unvisited link */
a:link {
    color: #66FF33;
}
/* visited link */
a:visited {
    color: #66FF33;
}
/* mouse over link */
a:hover {
    color: #66FF33;
}

/* selected link */
a:active {
    color: #66FF33;
}
a:link {
    text-decoration: none;
}
.menu li {
	list-style: none;
	float: left; 
	margin: -5px 3px; 
	/*position: relative;
	left: 50%;
	transform: translateX(-50%);*/
}
.menu{
	margin-left:42%;
}
.tabla {
	whidth: 1050;
}


img,video{ max-width:400%;}



.men{
	 text-align:center; 
}





footer{
margin: center;

   
    height:28px;
    font-family:Verdana;
    font-weight:bold;
    font-size:10px;
    }
footer ul{

    text-align: center;
    height:auto;
    padding:8px 0px;
    margin:0px;
    }
footer li{
    display:inline;
    padding:0px;
    margin:0px;
    }

footer a{
    text-decoration:none;
    color:#FFFFFF;
    padding:8px 8px 8px 8px 8px   ;
    }
    
footer a:hover{
    color:#000000;
    background-color:#FFFFFF;
        }
        
        @media all and(min-width:800px){
        body{
           
            width:800px;
            margin:auto;
            }
            }


        @media all and(min-width:480px){
        footer{
            height:100%;
              }
           footer li{

display:block; 
padding:10px;
margin:0px;           
           }
           }









